<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            height: 15px;
            width: 12rem;
            background-color: red;
            animation-name: container;
            animation-timing-function: ease-in-out;
            animation-duration: 4sec;
            animation-fill-mode: forwards;
            animation-direction: alternate;
        }
        @keyframes container {
from{
    width: 0px;
    to{
width: 12rem;
    }
}            
        }
    </style>
</head>
<body>
    <div class="container">
        
    </div>
</body>
</html>